#
# @(#)setup.config 1.10 85/10/21 SMI
#

#
# Setup configuration parameters
# (Note: disk_display is of the values from the Disk_display_units enum,
# and default_oswg is the bit mask for the optional software)
#
% parameters
disk_display=0 autohost=1 first_host=1 default_oswg=0xba38 network_num=192.9.200

#
# Sun workstation model numbers
#
% models
Sun 2/50
Sun 2/120
Sun 2/130
Sun 2/160
Sun 2/170
Sun 3/50
Sun 3/160M
Sun 3/160C

#
# types of workstations
#
% types
None
Standalone
File Server

#
# CPU types
#
% cpus
MC68010 CPU
MC68020 CPU

#
#
#
% disktypes
Xylogics 450 Disk Controller (xy)
Interphase 2180 Disk Controller (ip)
Adaptec SCSI Disk Controller (sd)

#
#
#
% tapetypes
1/4" SCSI (st0)
1/4" Archive (ar0)
1/2" CPC (mt0)
1/2" Xylogics (xt0)

#
#
#
% ethertypes
None
Sun Intel (ie0)
Sun Lance (le0)
3COM (ec0)

#
#
#
% hard_partition_types
Free
Swap
Unix
ND
Other

#
# name partition_letter mount_point partition_type minimum_size
# (the type needs to correspond to the above list of hard_partition_types,
# which turns into a 0 based enum, sizes are in sectors)
# 
% hard_partition_reserved
None, - - 0 0 
Entire Disk, c - 0 0 
Root, a / 2 0
Swap, b None 1 0
ND, c None 3 0
Standalone Usr, g /usr 2 usr.010
Home Directories, d /usr/ 2 0
Pub (MC68010), e /pub.MC68010 2 root.pub.010
Pub (MC68020), f /pub.MC68020 2 root.pub.020
Usr (MC68010), g /usr.MC68010 2 usr.010
Usr (MC68020), h /usr.MC68020 2 usr.020

#
#
#
% soft_partition_types
Free
Root
Swap
Other

#
#
#
% disk_display_units
M Bytes
K Bytes
Cylinders
Sectors

#
# Optional software
# name, 68010 size, 68020 size, standalone directory, server directory
# (sizes are in sectors)
#
% optional_software_group
Manual Pages, MC68010=usr.man.010, MC68020=usr.man.020, /usr, /usr
Games, MC68010=usr.games.010, MC68020=usr.games.020, /usr, /usr
Demonstration Programs, MC68010=usr.demo.010, MC68020=usr.demo.020, /usr, /usr
Networking tools and programs, MC68010=usr.net.010, MC68020=usr.net.020, /usr, /usr
Debugging tools, MC68010=usr.debug.010, MC68020=usr.debug.020, /usr, /usr
Text Processing tools, MC68010=usr.text.010, MC68020=usr.text.020, /usr, /usr
Setup tools, MC68010=usr.setup.010, MC68020=usr.setup.020, /usr, /usr
System V programs and libraries, MC68010=usr.vsys.010, MC68020=usr.vsys.020, /usr, /usr
Standalone Diagnostics, MC68010=usr.stand.010, MC68020=usr.stand.020, /usr, /pub
Fortran Compiler & Libraries, MC68010=usr.fortran.010, MC68020=usr.fortran.020, /usr, /usr
User Level Diagnostics, MC68010=usr.diag.010, MC68020=usr.diag.020, /usr, /usr
SunCore & CGI Libraries, MC68010=usr.graphics.010, MC68020=usr.graphics.020, /usr, /usr
Pascal Interpreter & Compiler, MC68010=usr.pascal.010, MC68020=usr.pascal.020, /usr, /usr
Profiled Libraries, MC68010=usr.profiled.010, MC68020=usr.profiled.020, /usr, /usr
SunView and Demo Program source, MC68010=usr.src.010, MC68020=usr.src.020, /usr, /usr
SunView User Programs, MC68010=usr.sunview_users.010, MC68020=usr.sunview_users.020, /usr, /usr
SunView Programmers Files, MC68010=usr.sunview_prog.010, MC68020=usr.sunview_prog.020, /usr, /usr
uucp programs, MC68010=usr.uucp.010, MC68020=usr.uucp.020, /usr, /usr
Versatec Printer Software, MC68010=usr.vtroff.010, MC68020=usr.vtroff.020, /usr, /usr

#
#
#
% yp_type
None
Client
Slave Server
Master Server

#
#
#
% tape_location
Local
Remote

#
#
#
% mail_types
Mail Server
Mail Client
